<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Account details</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <form th:action="@{/logout}" method="post">
        <p>
            Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b>
        </p>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <h1>Your account details</h1>
</div>
<div>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Bank account number</th>
            <th>Balance</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${userAccount.accountNumber}">Bank account number</td>
            <td th:text="${userAccount.balance}">Balance</td>
            <td th:text="${user.name}">First Name</td>
            <td th:text="${user.lastname}">Last Name</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="leftContainer">
    <a href="/transfer" th:href="@{/transfer}" class="btn btn-large btn-primary">TRANSFER</a>
    <a href="/payment" th:href="@{/payment}" class="btn btn-large btn-primary">PAYMENT</a>
    <a href="/payout" th:href="@{/payout}" class="btn btn-large btn-primary">PAYOUT</a>
</div>

</body>
</html>